/vendor/
/node_modules/
.env
.env.*
!.env.example
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
/public/storage
/public/build
/public/hot
npm-debug.log
yarn-error.log
.idea
.vscode
.git
.phpunit.cache